body {
  background-color: #d2f7ff;
}

.navbar-custom {
  box-shadow: 0 4px 8px rgba(1, 1, 1, 5.0);
  background-color: #87cdd2;
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  margin-right: 20px;
  /* Add space between links */
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
  /* Remove extra margin for the last item */
}

.navbar-nav .nav-link:hover {
  color: #4b6261;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.footer-text {
  color: white;
}

.carousel-item img {
  top: 5;
  width: auto;
  height: 100%;
  object-fit: cover;
}

#cardContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
}

.hover-info {
  position: absolute;
  top: 0;
  width: 180px;
  height: 78%;
  background-color: rgba(146, 182, 199, 0.5);
  /* Semi-transparent background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, left 0.5s ease, right 0.5s ease;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(221, 208, 208, 0.7);
  pointer-events: none;
  text-align: center;
}

.card:hover .hover-info {
  display: flex;
}

.card-left .hover-info {
  left: -300px;
}

.card-right .hover-info {
  right: -300px;
}

.card-left:hover .hover-info {
  opacity: 1;
  left: 0;
}

.card-right:hover .hover-info {
  opacity: 1;
  right: 0;
}

.card-body {
  text-align: center;
}

.dark-mode {
  background-color: #919393;
  color: #f1f1f1;
}

.dark-mode .navbar-custom {
  background-color: #5c8a8e;
}

.dark-mode .navbar-brand,
.dark-mode .navbar-nav .nav-link {
  color: #f1f1f1;
}

.dark-mode .btn-outline-secondary {
  color: #ffffff;
  border-color: #cdeeff;
  background-color: #5e7a7d;
}

.dark-mode .footer-text {
  color: #f1f1f1;
}

.dark-mode .card-body {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  background-color: #7d7d7d;
  color: #f1f1f1;
  border-radius: 5px;
}

.dark-mode .carousel-item img {
  filter: brightness(70%);
}

.footer {
  color: #2f2828;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 3px solid white;
}

/* Footer text in light mode */
.footer-text {
  color: #2f2828;
}

/* Footer in dark mode */
.dark-mode .footer {
  border-top: 3px solid #f1f1f1;
}