body {
    font-family: "Times New Roman", serif;
}


@keyframes slideDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1.fw-bold {
    color: #fff;
    text-align: center;
    font-size: 5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(232, 216, 232, 0.8),
        0 0 70px rgba(119, 74, 208, 0.8),
        0 0 80px rgba(96, 105, 199, 0.8),
        0 0 100px rgba(203, 203, 213, 0.8),
        0 0 150px rgba(65, 48, 177, 0.8);
    margin-top: 320px;
    animation: slideDown 15s ease-in-out;
}

@media (max-width: 768px) {
    h1.fw-bold {
        font-size: 2rem;
    }
}

.sound-button {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    background-color: transparent;
    color: rgb(253, 253, 253);
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.sound-button:hover {
    background-color: transparent;
}

.places-header {
    margin-top: 50px;
    text-align: center;
}

.row img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}

.row img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.bg-white {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: black !important;
}

.about-section img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.footer {
    color: #2f2828;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer p {
    margin: 10px 0;
}

.footer a {
    color: #6200ff;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}
